@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #9c5322;
  color: #f7a570;
  user-select: none;
  /* overflow-x: hidden; */
}

.title {
  font-size: 30px;
  font-weight: bold;
}

svg:hover {
  cursor: pointer;
}

img {
  object-fit: contain;
}
.loadingGradient {
  background: linear-gradient(to left, #ab612f, #ca7c49, #ab612f);
  animation: infinite placeholder 1.7s, forwards;
}
@keyframes placeholder {
  0% {
    background-position: -60vw 0;
  }
  100% {
    background-position: 60vw 0;
  }
}

.loadingGradientImage {
  background: linear-gradient(to left, #ab612f, #ca7c49, #ab612f);
  animation: infinite nah 1.1s, forwards;
}
@keyframes nah {
  0% {
    background-position: -7.5vw 0;
  }
  100% {
    background-position: 7.5vw 0;
  }
}

/* responsive design lol */

@media screen and (max-width: 1215px) {
  .title {
    font-size: 150%;
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .items {
    width: 180px;
    height: 240px;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 120%;
    width: 60%;
  }
  .items {
    width: 150px;
    height: 200px;
  }
}

@media screen and (max-width: 581px) {
  .title {
    font-size: 110%;
    width: 60%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 385px) {
  .title {
    font-size: 90%;
    width: 60%;
    margin-top: 50px;
  }
  .items {
    width: 105px;
    height: 220px;
  }
}
