@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #9c5322;
  color: #f7a570;
  user-select: none;
  overflow: hidden;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

svg:hover {
  cursor: pointer;
}

img {
  object-fit: contain;
}
.loadingGradient {
  background: linear-gradient(to left, #ab612f, #ca7c49, #ab612f);
  animation: infinite placeholder 1.7s, forwards;
}
@keyframes placeholder {
  0% {
    background-position: -60vw 0;
  }
  100% {
    background-position: 60vw 0;
  }
}

.loadingGradientImage {
  background: linear-gradient(to left, #ab612f, #ca7c49, #ab612f);
  animation: infinite nah 1.1s, forwards;
}
@keyframes nah {
  0% {
    background-position: -7.5vw 0;
  }
  100% {
    background-position: 7.5vw 0;
  }
}
